@font-face {
  font-family: "nidus_sansregular";
  src: url("src/nidsans-webfont.woff") format("woff"), url("src/nidsans-webfont.svg#nidus_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**MODAL BACKGROUND*/
/* MODAAL CONTENT + BOX */
@-webkit-keyframes "animatetop" {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes "animatetop" {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* THE CLOSE BUTTON */
/*MODAL CONFIG*/
/*TOGGLE BUTTON FOR READ*/
/* The switch - the box around the slider */
/* Hide default HTML checkbox */
/* The slider */
/* Rounded sliders */
* {
  margin: 0;
  padding: 0;
  font-family: "nidus_sansregular";
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.caption {
  position: absolute;
  left: 0;
  top: 26%;
  width: 100%;
  text-align: center;
  color: white;
}

.title {
  text-align: center;
  position: relative;
  opacity: 0.9;
  top: 50%;
  font-size: 100px;
  font-weight: 500;
}

.titleParagraph {
  text-align: center;
  position: relative;
  opacity: 0.9;
  top: 50%;
  font-size: 50px;
  font-weight: 600;
}

.bkimage1 {
  background-image: url("https://wallpaperaccess.com/full/1115096.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1400px;
}

.bkimage2 {
  background-image: url("https://wallpaperaccess.com/full/1115096.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

/*****************************FLEX BOX ANIMATION FOR BOOKSHELF BACKGROUND****************/
#bookshelf {
  background-image: url("https://wallpaperaccess.com/full/1115096.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 1600px;
}

.genre {
  background-image: url(src/synthwave.png);
  min-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  top: 40%;
  opacity: 1;
  color: #ff2975;
  font-size: 90px;
}

.genre.open {
  height: 45%;
  font-size: 40px;
  transition: cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

.genre-name {
  display: table-cell;
  height: 100%;
}

.genre.active {
  height: 45%;
}

.triangle_container {
  position: relative;
  left: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.triangle {
  width: 0;
  height: 0;
  opacity: 0.6;
  margin: 20px 0px;
  position: relative;
  float: left;
}

.up {
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 170px solid #c200db;
}

.down {
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 170px solid #c200db;
}

button {
  color: #f222ff;
  font-size: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 3px solid #8c1eff;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: relative;
  bottom: 20px;
}

.overlay {
  position: fixed;
  /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  /* color */
  display: none;
  /* making it hidden by default */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  text-align: center;
  position: relative;
  background-color: #8c1eff;
  margin: 70px auto auto;
  padding: 0;
  border: 1px solid #888;
  width: 1100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #6df1d8;
  color: white;
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
  font-size: 30px;
  width: 100%;
}

.text-container {
  width: 57%;
  height: 57%;
  margin-right: 220px;
  margin-left: auto;
  overflow: hidden;
}

label {
  float: left;
  position: absolute;
  left: 260px;
}

input {
  top: 4px;
  position: relative;
  left: 80px;
  font-size: 20px;
}
input:checked + .slider {
  background-color: #d30cb8;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:focus + .slider {
  box-shadow: 0 0 1px #d30cb8;
}

#submit {
  font-size: 30px;
  left: 0;
  position: relative;
  background-color: #353a58;
  padding: 4px;
  border-radius: 10px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#submit::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#submit:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.15, 1.15);
}
#submit:hover::after {
  opacity: 1;
}

sup {
  color: white;
}

.switch {
  position: relative;
  top: 10px;
  left: 330px;
  width: 60px;
  height: 37px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
