@font-face {
    font-family: 'nidus_sansregular';
    src: url('nidsans-webfont.eot');
    src: url('nidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('nidsans-webfont.woff2') format('woff2'),
         url('nidsans-webfont.woff') format('woff'),
         url('nidsans-webfont.ttf') format('truetype'),
         url('nidsans-webfont.svg#nidus_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'nidus_sansregular';
    overflow: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

html{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}


.caption {
    position: absolute;
    left: 0;
    top: 26%;
    width: 100%;
    text-align: center;
    color: white;
}

.title, .titleParagraph {
    text-align: center;
    position: relative;
    opacity: 0.9;
    top: 50%;
}
.title {
    font-size: 100px;
    font-weight: 500;
}

.titleParagraph {
    font-size: 50px;
    font-weight: 600;
}

.bkimage1, .bkimage2 {
    background-image: url('https://wallpaperaccess.com/full/1115096.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bkimage1 {
    min-height: 1400px;
}

.bkimage2 {
    min-height: 500px;
}

.genre {
    background-image: url(synthwave.png);
    min-height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    top: 40%;

    opacity: 1;
    color: 	#ff2975;
    font-size: 90px;
}

.genre-name {
    display: inline-block;
}

.triangle_container {
    position: relative;
    width: 100%;
    left: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}


.triangle {
    width: 0;
    height: 0;
    opacity: 0.6;
    margin: 20px 0px;
    position: relative;
    float: left;
}

.up {
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 170px solid #c200db;
}

.down {
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 170px solid #c200db; 
}

button {
    color: 	#f222ff;
    font-size: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 3px solid	#8c1eff;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: relative;
    bottom: 20px;
}


/**MODAL BACKGROUND*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* MODAAL CONTENT + BOX */
.modal-content {
    background-color: #8c1eff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* THE CLOSE BUTTON */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
