@font-face {
    font-family: 'nidus_sansregular';
    src: url('nidsans-webfont.eot');
    src: url('nidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('nidsans-webfont.woff2') format('woff2'),
         url('nidsans-webfont.woff') format('woff'),
         url('nidsans-webfont.ttf') format('truetype'),
         url('nidsans-webfont.svg#nidus_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'nidus_sansregular';
}

/* body {
    background: linear-gradient(0deg, #0c0931, #1d1856, #e80074,#c200db , #00cfe5 90%);
} */

html{
    width: 100vw;
    height: 100vh;
}

.caption {
    position: absolute;
    left: 0;
    top: 26%;
    width: 100%;
    text-align: center;
    color: white;
}

.title, .titleParagraph {
    text-align: center;
    position: relative;
    opacity: 0.9;
    top: 50%;
}
.title {
    font-size: 100px;
    font-weight: 500;
}

.titleParagraph {
    font-size: 50px;
    font-weight: 600;
}

.bkimage1, .bkimage2 {
    background-image: url('https://wallpaperaccess.com/full/1115096.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bkimage1 {
    min-height: 1400px;
}
.bkimage2 {
    min-height: 400px;
}

.first-genre, .second-genre, .third-genre {
    background-image: url('https://motionarray.imgix.net/preview-311800-ol0mxdxMla-high_0011.jpg?w=660&q=60&fit=max&auto=format');
    min-height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 40%;
}

.first-genre .genre-name {
    text-align: left;
    position: relative;
    opacity: 1;
    color: white;
    top: 2.2em;
    left: 0.3em;
    font-size: 90px;
}
.second-genre .genre-name {
    text-align: right;
    position: relative;
    opacity: 1;
    color: white;
    top: 2.2em;
    left: 0.3em;
    font-size: 90px;
}
.third-genre .genre-name {
    text-align: left;
    position: relative;
    opacity: 1;
    color: white;
    top: 2.2em;
    left: 0.3em;
    font-size: 90px;
}

.triangle-up {
    width: 0;
    height: 0;
    opacity: 0.6;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 120px solid #c200db;
    left: 25em;
    top: 11em;
    text-align: left;
    position: relative;
  }

.triangle-down {
    width: 0;
    height: 0;
    opacity: 0.6;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 120px solid #c200db; 
    left: 20em;
    text-align: left;
    position: relative;
}